header {
  text-align: center;
  background-image: url(img/bar.jpg);
  background-size: cover;
  padding: 75px;
  color: white;
  text-shadow: 50px 50px 50px black;
  line-height: 25px;
  margin: 0;
}

footer {
  color: white;
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  line-height: 25px;
  background-image: url(img/footer2.jpg);
  background-size: cover;
  padding: 150px;
  text-shadow: 50px 50px 50px black;
  line-height: 25px;
}

html {
  font-family: system-ui;
}

a {
  text-decoration: none;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.column-2.carta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.plato {
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
}

.img-plato {
  display: flex;
  flex-basis: 25%;
  justify-content: center;
}

.img-plato img {
  max-width: 100px;
  max-height: 75px;
}

.titulo-plato {
  border: 1px solid #e5e5e5;
  border-bottom: none;
  border-top: none;
  flex-basis: 60%;
  padding: 0 1rem;
}

.precio-plato {
  display: flex;
  flex-basis: 15%;
  justify-content: center;
  font-weight: bold;
}

@media (max-width:680px) {
  .column-2.carta {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Estilos para el formulario de Socio VIP */
.vip-membership {
  display: flex;
  justify-content: center;
  text-align: center;
}

.vip-membership .wrap {
  max-width: 600px;
  width: 100%;
  padding: 1rem;
}

.vip-membership .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.vip-membership label {
  margin-bottom: 0.5rem;
}

.vip-membership ::placeholder{
  text-align: center;
}

.vip-membership input[type="text"],
.vip-membership input[type="email"],
.vip-membership input[type="tel"],
.vip-membership input[type="date"]{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.vip-membership input[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.vip-membership input[type="submit"]:hover {
  background-color: #555;
}